{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css %}">
    </head>
    <body>
        <div class="container">
            <h1>Contact Us</h1>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Send</button>
            </form>
            
            <div class="contact-info">
                <p><strong>Phone:</strong> {{ restaurant.phone_number }}</p>
                <p><strong>Email:</strong> {{ restaurant.email }}</p>
                <p><strong>Address:</strong> {{ restaurant.address }}</p>
            </div>
        </div>
    </body>
</html>