<!DOCTYPE html>
<html>
    <head>
        <title>Feedback</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/">
    </head>
    <body class="container mt-4">
        <h2>Submit Your Feedback</h2>
        <h2 style="text-align:center;">Leave Your Feedback</h2>
        <div style="max-width:500px; margin:auto;">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" style="
                background-color:#4CAF50;
                color:white;
                padding:10px 20px;
                border:none;
                border-radius:5px;
                cursor:pointer;">
                Submit
                </button>
            </form>
        </div>
    </body>
</html>
