<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0>
        <title>Homepage</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Welcome to my Homepage</h1>

        <div class="search-container">
            <input type="text" placeholder="Type Something...">
            <button onclick="showSearchMessage()">Search</button>
        </div>

        <p id="message"></p>
        <script src="script.js"></script>
    </body>
</html>

        <!-- <!-- Cart Counr -->
        <!-- <!-- <div style="float: right;"> -->
            <!-- Cart: {{ cart_count }} items -->
        <!-- </div> -->

        <!-- <h1>Our Menu</h1> --> -->

        <!-- Search Bar -->
        <!-- <form method="get" action="" class="search-bar">
            <input type="text" name="q" placeholder="Search menu..." value="{{ query }}">
            <button type="submit">Search</button>
        </form> --> -->
        
        <!-- <h2>Welcome To {{ restaurant.name }}</h2>

        {% if restaurant %}
            <p><strong>Address:</strong> {{ restaurant.address }}</p>
            {% if restaurant.phone_number %}
                <p><strong>Phone:</strong> {{ restaurant.phone_number }}</p>
            {% else %}
                <p>Phone number not available</p>
            {% endif %}
        {% else %}
            <p>Address information is not available.</p>
        {% endif %}

        {% if menu_items %} -->

        <!-- {% if restaurant.opening_hours %}
            <div class="hours-box">
                <h2>Opening Hours</h2>
                <ul>
                    {% for day, hours in restaurant.opening_hours.items %}
                        <li><span>{{ day }}</span> <span>{{ hours }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>Opening hours not available.</p>
        {% endif %} -->
        <!-- <div class="menu-container">
            {% for item in menu_items %}
            <div class="menu-item">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
                <p><strong>${{ item.price }}</strong></p>
                <a href="{% url 'add_to_cart' item.id %}">Add to cart</a>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <p style="text-align:center;">No menu items available at the moment.</p>
        {% endif %} -->
    </body>
</html>