{% extends "base.html %}

{% block content %}
<div class="policy-container">
    <h1>Privacy Policy</h1>
    <p>
        This is our restaurant's Privacy Policy.
        We value your trust and are committed to protecting your personal information.
        This is placeholder text and will be updated with more details soon.
    </p>
    <p>At Tasty Bites, we respect your privacy and are committed to protecting your personal information.</p>

    <h3>Information we Collect</h3>
    <p>We may collect your name, email address, and other details when you place an order or contact us.</p>

    <h3>How we use your information</h3>
    <p>Your information we used solely for processing orders, improving our services, and communicating with you.</p>

    <h3>Data Security</h3>
    <p>We implement security measures to protect your personal imformation from unauthorized access.</p>

    <h3>Changes to this Policy</h3>
    <p>We may update this Privacy Policy occasionally. updates will be posted on this page.</p>

    <p>If you have question, please contact us via our Contact page.</p>
</div>
{% endblock %}